<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/43673e18-a717-40bb-9770-c196254e9f47/resourceGroups/rjm/providers/Microsoft.Web/sites/rjmtruppexercise</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://rjmtruppexercise.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>rjmtruppexercise.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rjmtruppexercise</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$rjmtruppexercise</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>