/* misc styles*/

.margin-r-sm {
    margin-right: 20px;
}

.inline-div {
    display: inline-block;
}

.no-results {
    text-align: center;
}

/* page title styles */

.page-header {
    text-align: center;
}

.page-title {
    text-transform: capitalize;
}

/* grid and table styles */

.mdc-layout-grid {
    text-align: center;
}

.table-col {
    display: inline-block;
}

.data-table {
    margin: auto;
    width: 600px;
    display: flex;
    justify-content: space-around;
}

.date-data-table {
    margin: auto;
    width: 800px;
    display: flex;
    justify-content: space-around;
}

.table-header p {
    text-decoration: underline;
}

.employee-event-date {
    text-align: center;
}

/* button styles */

.button-div {
    margin-top: 10px;
}

.back-button {
    text-align: center;
}
