.page-header {
    text-align: center;
}

.mdc-layout-grid__inner {
    text-align: center;
}

.margin-r-sm {
    margin-right: 20px;
}

.inline-div {
    display: inline-block;
}

.button-div {
    margin-top: 10px;
}