.page-header {
    text-align: center;
}

.mdc-layout-grid {
    text-align: center;
}

.margin-r-sm {
    margin-right: 20px;
}

.inline-div {
    display: inline-block;
}

.button-div {
    margin-top: 10px;
}

.table-col {
    display: inline-block;
}

.data-table {
    margin: auto;
    width: 450px;
    display: flex;
    justify-content: space-around;
}

.table-header p {
    text-decoration: underline;
}

#employee-event-date {
    text-align: center;
}

.back-button {
    text-align: center;
}

.page-title {
    text-transform: capitalize;
}