@model TruppEx.Models.ViewModels.EmployeeData

@{
    ViewData["Title"] = "Life Events By Employee";
}

@foreach (var ee in Model.Employees)
{
    <div class="page-header">
        <h2 class="mdc-typography--headline2 page-title">@ee.FullName's Life Events</h2>
    </div>
}

<div class="data-table">
    <div class="table-col">
        <div class="table-header">
            <p class="mdc-typography--headline4">Event Type</p>
        </div>
        @foreach (var lt in Model.LifeEventTypes)
        {
            <div class="table-cell">
                <p class="mdc-typography--headline6">@lt.Type</p>
            </div>
        }
    </div>
    <div class="table-col employee-event-date">
        <div class="table-header">
            <p class="mdc-typography--headline4">Event Date</p>
        </div>
        @foreach (var le in Model.LifeEvents)
        {
            <div class="table-cell">
                <p class="mdc-typography--headline6">@le.EventDate.ToShortDateString()</p>
            </div>
        }
    </div>
</div>

@if(!Model.LifeEventTypes.Any())
{
    <h5 class="mdc-typography--headline6 no-results">Sorry, no results found, please go back and try again</h5>
}

<div class="back-button">
    <a class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" href="/home/index">Back</a>
</div>

