@model TruppEx.Models.ViewModels.DropDownData

@{
    ViewData["Title"] = "Home Page";
}

<form action="/home/employee" method="get">
    <div>
        <select name="employeeID" id="employeeDropDown">
            <option value="">Select an Employee</option>
            @foreach (var employee in Model.Employees)
            {
                <option value="@employee.EmployeeID">@employee.FullName</option>
            }
        </select>
    </div>
    <div>
        <button type="submit">Test</button>
    </div>
</form>
<form action="/home/type" method="get">
    <div>
        <select name="lifeEventTypeID" id="lifeEventTypeDropDown">
            <option value="">Select a Life Event Type</option>
            @foreach (var lifeEventType in Model.LifeEventTypes)
            {
                <option value="@lifeEventType.LifeEventTypeID">@lifeEventType.Type</option>
            }
        </select>
    </div>
    <div>
        <button type="submit">Test</button>
    </div>
</form>
<form action="/home/date" method="get">
    <div>
        <span>Start Date</span>
        <input type="date" name="startDate" />
    </div>
    <div>
        <span>End Date</span>
        <input type="date" name="endDate" />
    </div>
    <div>
        <button type="submit">Test</button>
    </div>
</form>