@model TruppEx.Models.ViewModels.EmployeeData

@{
    ViewData["Title"] = "By Type";
}

@foreach (var lt in Model.LifeEventTypes)
{
<div class="page-header">
    <h2 class="mdc-typography--headline2 page-title">@lt.Type events</h2>
</div>
}

@foreach (var item in Model.LifeEvents)
{
    <h1>@item.EventDate</h1>
}

@foreach (var item in Model.Employees)
{
    <h1>@item.FullName</h1>
}
